.card {
    background-color: #ffffff;
    width: 900px;
    height: 500px;
    border-radius: 20px;
    display: flex;

    h1 {
        letter-spacing: 1px;
        margin-bottom: 30px;
        color: $text-very-dark-desaturated-blue;
    }

    .img-col {
        background-image: url(../img/bg-pattern-desktop.svg);
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: right -10% bottom 35%;
        width: 50%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .img-women {
            width: 110%;
            position: absolute;
            top: 50px;
            right: 40px;
            z-index: 10;
        }
    }

    .faq-col {
        padding: 50px;
        width: 50%;
    }

    .item-container {
        border-bottom: 1px solid $light-grayish-blue;
        margin-bottom: 10px;
        padding: 10px;
    }

    .question-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .arrow {
        transition: transform 0.2s ease-in-out;
    }

    .active + .arrow {
        transform: rotate(180deg);
    }
    .question {
        color: $text-very-dark-grayish-blue;
    }
    .question:hover {
        color: $text-soft-red;
        transition: 200ms ease-in-out;
    }

    .answer {
        color: $text-dark-grayish-blue;
        max-height: 0;
        overflow: hidden;
    }

    .active {
        font-weight: bold;
        color: $text-very-dark-desaturated-blue;
        display: block;
    }
}

.card-container {
    position: relative;

    .img-cube {
        position: absolute;
        left: -130px;
        top: 190px;
        z-index: 100;
    }
}
