* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    @include bg-gradient;
    background-repeat: no-repeat;
    height: 100vh;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 1021px) {
    body {
        height: 140vh;
    }
} ;
