* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9 0%, #6565e7 100%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width: 1021px) {
  body {
    height: 140vh;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  width: 900px;
  height: 580px;
  border-radius: 20px;
}

.card .img-col {
  background-image: url(../img/bg-pattern-desktop.svg);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: right -10% bottom 35%;
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card .img-col .img-women {
  width: 110%;
  position: absolute;
  top: 50px;
  right: 40px;
  z-index: 10;
}

.card .img-col .img-women-mobile {
  display: none;
}

.card .faq-col {
  padding: 50px;
  width: 50%;
}

.card .faq-col h1 {
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-left: 10px;
  color: #1d1e35;
}

.card .item-container {
  border-bottom: 1px solid #e7e7e9;
  margin-bottom: 10px;
  padding: 10px;
}

.card .question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;
}

.card .arrow {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.card .active + .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card .question {
  color: #4a4b5e;
}

.card .question:hover {
  color: #f47c57;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.card .answer {
  color: #787887;
  max-height: 0;
  overflow: hidden;
}

.card .active {
  font-weight: bold;
  color: #1d1e35;
  display: block;
}

.card-container {
  position: relative;
}

.card-container .img-cube {
  position: absolute;
  left: -90px;
  top: 190px;
  z-index: 100;
}

@media only screen and (max-width: 1021px) {
  .card-container {
    padding: 0 2rem;
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 355px;
  }
  .card .img-col {
    background-image: url(../img/bg-pattern-mobile.svg);
    background-size: 70%;
    background-position: right 50% bottom 100%;
    overflow: visible;
    width: 100%;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
  .card .img-col .img-women-mobile {
    margin-top: 4rem;
    display: block;
    position: absolute;
    top: -170px;
    right: 60px;
    z-index: 100;
  }
  .card .img-col .img-women {
    display: none;
  }
  .card .faq-col {
    padding: 30px;
    width: 100%;
  }
  .card .faq-col h1 {
    text-align: center;
    margin-left: 0;
  }
  .img-cube {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .card-container {
    padding: 0;
  }
}
/*# sourceMappingURL=styles.css.map */