// Text Colors
$text-very-dark-desaturated-blue: rgb(29, 30, 53);
$text-soft-red: rgb(244, 124, 87);
$text-very-dark-grayish-blue: rgb(74, 75, 94);
$text-dark-grayish-blue: rgb(120, 120, 135);

// Divider Color
$light-grayish-blue: rgb(231, 231, 233);

// Background Color
$very-light-gray: rgb(240, 240, 240);
